footer{
    background-color: rgb(194, 194, 194);
}

footer > .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;

    & address {
        font-size: 0.75rem;
        color: #5c5c5c;
        font-weight: bold;
        font-style: normal;
    }

    & a{
        text-decoration: none;
        font-size: 0.75rem;
        color: #2e2e2e;
        font-weight: bold;
    }
}
#numeroft{
    font-style: italic;
}